<div class="container-fluid">
  <div class="row flex-nowrap min-vh-100">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <h1 class="header-name">Menu</h1>
      <div class="separator"></div>
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white gap-2"
      >
        <div
          class="nav-tab"
          [class.active]="routing === ''"
          (click)="switchRoute('')"
        >
          使用积分
        </div>
        <div
          class="nav-tab"
          [class.active]="routing === 'register'"
          (click)="switchRoute('register')"
        >
          注册
        </div>
        <div
          class="nav-tab"
          [class.active]="routing === 'customers'"
          (click)="switchRoute('customers')"
        >
          全部顾客资料
        </div>
      </div>
    </div>
    <div class="col py-3">
      <app-activity-panel *ngIf="routing === ''"></app-activity-panel>
      <app-customer-info *ngIf="routing === 'customers'"></app-customer-info>
      <app-register-panel *ngIf="routing === 'register'"></app-register-panel>
    </div>
  </div>
</div>
