.nav-item {
  padding: 20px;
}

.nav-tab {
  width: 100%;
  cursor: pointer;
  color: white;
  padding: 10px 5px;
  border-radius: 5px;

  &.active {
    background-color: #0d6efd;
  }
}

.nav-tab:hover {
  background-color: #70cad1;
}

.header-name {
  color: white;
}

.separator {
  border: 1px solid white;
}
